@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
  
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0 0);
  --color-primary: oklch(9% 0 0);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96.1% 0 0);
  --color-secondary-foreground: oklch(9% 0 0);
  --color-muted: oklch(96.1% 0 0);
  --color-muted-foreground: oklch(45.1% 0.00015 286.37);
  --color-accent: oklch(96.1% 0 0);
  --color-accent-foreground: oklch(9% 0 0);
  --color-destructive: oklch(55.72% 0.217 25.43);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-input: oklch(89.8% 0 0);
  --color-ring: oklch(9% 0 0);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(9% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(9% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(9% 0 0);
    --color-secondary: oklch(14.9% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);
    --color-muted: oklch(14.9% 0 0);
    --color-muted-foreground: oklch(63.9% 0 0);
    --color-accent: oklch(14.9% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(32% 0.135 25.43);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(14.9% 0 0);
    --color-input: oklch(14.9% 0 0);
    --color-ring: oklch(83.1% 0 0);
  }
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}
